!!!
%html
  %head
    %title
      Welcome to my CV
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    .row.panel
      = yield
    %footer.row
      - if Rails.env.development?
        .panel
          = debug(params)
    = javascript_include_tag 'application'
