!!!
%html
  %head
    %title
      <3
    = stylesheet_link_tag 'welcome', media: 'all'
    = csrf_meta_tags
  %body
    .row.panel
      = yield
    %footer.row
      - if Rails.env.development?
        .panel
          = debug(params)
    = javascript_include_tag 'welcome'
